!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title A
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/alerts' if notice
    = render 'layouts/navbar'
    .container
      = yield
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit-icons.min.js"}
